.billBoard {
  height: 100px;
  font-size: 30px;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-color: whitesmoke;
  color: #16161d;
}

a {
  color: #4267b2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  height: 100px;
  background-color: #4267b2;
  border-top: 1px solid #29487d;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
