header,
nav {
  height: 100px;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  background-color: #f2f3f5;
  color: #16161d;
}

a {
  color: #4267b2;
  text-decoration: none;
}

nav a {
  color: whitesmoke;
  margin: 0 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 12px 1px;
}

a:hover {
  text-decoration: underline;
}

.footer {
  height: 100px;
  background-color: #4267b2;
  border-top: 1px solid #29487d;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
