.billBoard {
  height: 100px;
  font-size: 30px;
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
